{% extends 'base.html.twig' %}

{% block title  %} Show post  {% endblock   %}

 {% block body  %}

<Table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ post.id }} </td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ post.title }} </td>
        </tr>

        <tr>
            <th>Content</th>
            <td>{{ post.content }} </td>
        </tr>

        <tr>
            <th>Publication date</th>
            <td>{{ post.datePublication|date("d/m/Y") }} </td>
        </tr>

        <tr>
            <th>Categories</th>
            {% for category in post.categories %}
                <td>{{ category.title }} </td>
            {% endfor %}
        </tr>
       
    </tbody>
</Table>

<a href="{{path('listing')}}">Back to posts list</a> 
{% endblock   %}