<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}MyBlog LifeStyle{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
     {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

{# {{dump(app.request.locale)}} #}

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header col-md-3 col-lg-2">
                    <a class="navbar-brand" href="{{ path('home') }}">{# {{ path('homepage') }} #}
                       Blog LifeStyle
                    </a>



                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        {% block header_navigation_links %}
                            <li>
                                <a href="{{ path('home') }}">
                                    <i class="fa fa-home" aria-hidden="true"></i> 
                                    {{ 'menu.homepage'|trans }}
                                    
                                </a>
                            </li>


                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                            <li>
                                <a href='{{ path('category_index') }}'> Categories Management  </a>
                            </li>

                            <li>
                                <a href='{{ path('post_index') }}'> Posts Management </a>
                            </li>


                            <li>
                                <a> <i class="fas fa-user"></i>  {{ app.user.fullname}}</a>
                            </li>

                            <li>
                                
                                <a href="{{ path('app_logout') }}">
                                    <i class="fa fa-sign-in"></i>
                                    {# {{ 'menu.homepage'|trans }} #}
                                    Logout
                                </a>
                                
                            </li>

                            {% else %}

                           

                            <li>
                                <a href="{{ path('app_login') }}">
                                    {# {{ 'menu.homepage'|trans }} #}
                                    Login
                                </a>
                            </li>

                             <li>
                                <a href="{{ path('app_register') }}" > 
                                    {# {{ 'menu.homepage'|trans }} #}
                                    Sign up
                                </a>
                            </li>
                            {% endif %}


                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="locales">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span class="caret"></span>
                                <span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
                            </a>
                            <ul class="dropdown-menu locales" role="menu"
                                aria-labelledby="locales">
                                
                                 {%  for locale in locales() %}
                                    <li
                                     {%  if app.request.locale == locale.code %}
                                aria-checked="true" class="active"
                                    {% else %}
                                aria-checked="false"
                                    {% endif %}
                                            role="menuitem">
                                        <a href="
                               {{   path(
                                            app.request.get('_route') ,
                                            app.request.get('_route_params', [])|merge({_locale: locale.code})
                                        )
                               }}
                                ">
   {{ locale.name|capitalize }}<small>{{  locale.code }}</small>
                                        </a></li>
                                        {% endfor %}
                            </ul>
                        </li>
                        {% endblock %}

                       
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<div class="container body-container">
    {% block body %}
        <div class="row">
            <div id="main" class="col-sm-9">
                {#{{ include('default/_flash_messages.html.twig') }}#}

                {% block main %}{% endblock %}
            </div>

            <div id="sidebar" class="col-sm-3">
                {% block sidebar %}
                    {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
                        'template': 'blog/about.html.twig',
                        'sharedAge': 600,
                        '_locale': app.request.locale
                    })) }}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; {{ 'now'|date('Y') }} - The Symfony Project</p>
                    {# <p>{{ 'mit_license'|trans }}</p> #}
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>
                        <a href="https://twitter.com/symfony" title="Symfony Twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://symfony.com/blog/" title="Symfony Blog">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </p>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{# it's not mandatory to set the timezone in localizeddate(). This is done to
   avoid errors when the 'intl' PHP extension is not available and the application
   is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
<!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->

</body>
</html>